body{
  margin-bottom: 100px;
  font-family: 'Montserrat', 'Noto Serif SC', serif;
  padding-top: 60px;
  padding-left: 15%;
  padding-right: 10%;
  background-color: white;
}
a:link { 
  text-decoration: none; color: rgb(0, 0, 0);
}
a:active { 
  text-decoration:blink
}
a:hover { 
  text-decoration: none;
  color: rgb(95, 132, 170);
  cursor: pointer;
}
.BlogPicture{
  width: 80%;
}
em,strong{
  font-style: normal;
  font-weight: 600;
}
li a{
  color: black;
  
}